body {
  background-image: linear-gradient(to bottom, #e0c56b, #2e2e2e);
  height: 100vh
}

.title {
  color: white;
  text-shadow: 0px 4px 15px black;
}

@font-face {
  font-family: 'power_symbols';
  src: url('./Unicode_IEC_symbol.woff2') format('woff2'), url('./Unicode_IEC_symbol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.power {
  font-family: 'power_symbols';
  font-style: normal;
  font-size: 1em;
}